@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&family=Jockey+One&family=Just+Me+Again+Down+Here&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* HEADER */
.header {
  background-color: #982417;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Posição do logo*/
.header__logo {
  display: flex;
  align-items:center;
  gap: 8px; 
  margin-bottom: 10px;
}

/* Tamanho do logo */
.header__logo img {
  height: 35px;
}

/* Título do Site -  Ju*/
.header__title {
  font-family: 'Just Me Again Down Here';
  font-size: 45px;
  color: #f8e2c9;
  margin: 0;
}

/* Título do Site - Cafe */
.header__title--bege {
  color: #c89b67; 
}

/* MENU DE NAVEGAÇÃO*/
.nav__list {
  display: flex;
  gap: 30px;
}

.nav__link {
  color: #fff4e3;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Just Me Again Down Here',sans-serif;
}

.nav__link:hover {
  color: #f4c47d;
}

/* GERAL - CORPO DA PÁGINA */
 body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

  

/* BANNER e FORMULARIO FRANQUEADO */
 .banner {
  background-image: url('../img/novoBanner.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 20px;
  text-align: right;
  color: #000000;
  position: relative;
}

.banner__content {
  background-color: #FFFFFF;
  padding: 40px;
  display: inline-block;
}

.banner__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.banner__subtitle {
  font-size: 18px;
  color: #000000;
  margin-bottom: 25px;
}

.banner__subtitle--vermelho{
  color:#982417 ;
}


.banner__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button {
  padding: 12px 25px;
  font-weight: bold;
  font-size: 16px;
  border:#fff4e3;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.button--saiba {
  background-color: #ffffff;
}

.button--saiba:hover {
  background-color: #f4c47d;
}

.button--registrar {
  background-color: #ffffff;
}

.button--registrar:hover {
  background-color: #e8b871;
}

/* BENEFÍCIOS */
.beneficios {
  background-color: #fff0D1;
  padding: 60px 20px;
  text-align:left
}

.beneficios__title {
  position: relative;
  padding-left: 20px; /* espaço para a barrinha */
  color: #84291f;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: left;
}

/* Barra vertical do texto Benefícios */
.beneficios__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;                
  height: 100%;             
  background-color: #84291f; 
}

.beneficios__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.beneficios__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* tudo alinhado à esquerda */
  text-align: left;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.beneficios__card img {
  height: 80px; 
  margin-bottom: 15px;
  object-fit: contain;
  align-self: center; /* centraliza só a imagem */
  margin-bottom: 15px;
  height: 80px;
  object-fit: contain;
}

.beneficios__card-title {
  color: #84291f;
  font-size: 20px;
  margin-bottom: 10px;
}

.beneficios__card-text {
  font-size: 16px;
  color: #555;
}

/*DEPOIMENTOS*/
.depoimentos {
  background-color: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.depoimentos__title {
  font-size: 28px;
  margin-bottom: 40px;
  color: #f4c47d;
}

.depoimentos__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.depoimentos__quote {
  font-style: italic;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.depoimentos__author-info {
  font-weight: bold;
  color: #f4c47d;
  margin-bottom: 10px;
}

.depoimentos__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-top: 30px;
}

/* MODELOS DE NEGÓCIO */
.modelos {
  background-color: #fff;
  padding: 60px 20px;
  text-align: center;
}

.modelos__title {
  font-size: 28px;
  color: #84291f;
  margin-bottom: 30px;
}

.modelos__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.modelos__card {
  background-color: #fff;
  border: 3px solid #84291f;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.modelos__card img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 20px;
  height: auto; 
  object-fit: cover; 
}

.modelos__card-title {
  font-size: 22px;
  color: #fff;
  background-color: #84291f;
  padding: 15px;
  margin-top: -5px; 
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modelos__card-list {
  list-style: none;
  padding: 20px;
  text-align: left;
}

.modelos__card-item {
  margin-bottom: 12px;
  font-size: 16px;
  color: #555;
}


/* FOOTER RODAPÉ */
.footer {
  background-color: #84291f;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.footer__text,
.footer__contact,
.footer__credit {
  margin-bottom: 15px;
}

.footer__social {
  margin-bottom: 15px;
}

.footer__social a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.footer__social a:hover {
  color: #f4c47d;
}